.sign-in {
  width: 30vw;
  display: flex;
  flex-direction: column;

  .title {
    margin: 10px 0;
  }

  .button-group {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}
